<h1>CNN Headlines</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= link_to entry.title, entry.url, target: "_blank" %></td>
        <td><button class="btn btn-default btn-xs" style="display: inline;" type="submit"><i class="fa fa-star-o"></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
