<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @entry.title %></td>
      <td><%= (@entry.created_at).to_date.to_formatted_s(:long) %></td>
      <% if current_user %>
      <td><%= form_tag(controller: "entries", action: "favorite", method: "post") do %>
          <%= submit_tag "Favorite", class: "btn btn-primary"%></td> 
      <% end %> 
      <% end %>    
    </tr>   
  </tbody>
</table>



